.section-detail-container {
  padding: 1rem;
}

.section-detail-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-detail-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  height: 35rem;
  scrollbar-width: none;
}

.section-detail-body::-webkit-scrollbar {
  display: none;
}

.section-detail-body img {
  height: 100%;
}