.section-container {
  padding: 1rem;
}

.section-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-to-reservation {
  margin-top: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem
}

.section-block-img {
  width: 50%;
  top: 15rem;
  z-index: -1;
  position: absolute;
}