.section-detail-container {
  height: 100vh;
}

.section-detail-header {
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
}

.section-detail-header h2 {
  color: white;
}

.section-detail-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  height: 85vh;
  scrollbar-width: none;
}

.section-detail-img img{
  height: 85vh;
}

.section-detail-body::-webkit-scrollbar {
  display: none;
}

.section-detail-map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.go-back-arrow {
  width: 10vw;
  height: 4vh;
  margin: 2vh;
}

.map-controller {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 30vh;
  bottom: 0;
  border-radius: 48px;
  background-color: #ffffff;
  overflow: hidden;
}

.map-controller img {
  height: 100%;
  object-fit: cover;
}

.react-transform-wrapper {
  position: absolute;
  padding: 1vh 3vw;
  width: 94vw;
  height: 26vh;
  bottom: 13vh;
  /* border: 1px solid red; */
  border-radius: 140px 140px 0px 0px;
  position: relative;
  background-color: rgb(237, 237, 237);
}

.pin {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: red;
  top: 10px;
}