.facility-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 82vh;
}

.facility-detail-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.go-back-button {
  position: absolute;
  top: 2vw;
  left: 2vw;
}

.facility-detail-img {
  width: 50vw;
}

.facility-detail-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: #074CA1;
  color: #ffffff;
}

.facility-detail-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.facility-detail-menu {
  width: 100%;
  height: 51.8vh;
  overflow: scroll;
}

