.facilities-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 82vh;
}

.facilities-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floor-select-button {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.floor-select-button button {
  width: 20vw;
  height: 6vh;
  border: none;
  border-radius: 30px;
}

.facilities-search-bar {
  margin-bottom: 2vh;
}

.facilities-category input {
  border: 1px solid red;
  width: 50vw;
  height: 4vh;
  margin-bottom: 1vh;
}

.category-select {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  height: 5vh;
  border-bottom: 1px solid rgb(208, 208, 208);
}

.category-button-nonline {
  width: 40vw;
  border: none;
  background: none;
  font-size: 5vw;
  /* font-weight: bold; */
}

.category-button-line{
  width: 40vw;
  border: none;
  border-bottom: 3.5px solid #0065B3;
  background: none;
  font-size: 5vw;
  font-weight: bold;
}

.facilities-body {
  overflow: scroll;
}

.store-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;

}

.facility-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.facility-hide {
  display: none;
}

.facilities-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 25vh;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 2px 0px 0px rgb(203, 203, 203);
  margin: 10px 14px;
  text-align: center;
}

.store-img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
  border-radius: 20px;
}

.store-item-header {
  /* border: 1px solid red; */
  width: 100%;
  height: 15vh;
  overflow: hidden;
  position: relative;
}

.store-item-logo {
  border: 5px solid white;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  width: 13vw;
  height: 13vw;
  background-color: #fff;
  position: absolute;
  top: 7vh;
  left: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-logo-img {
  /* border-radius: 50%; */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.store-item-body{
  /* border: 1px solid blue; */
  height: auto;
  width: 100%;
  /* display: flex; */
  align-items: center;
}

.store-title{
  /* border: 1px solid yellow; */
}

.facility-store-title{
  /* border: 1px solid black; */
  color: #000;
  position: relative;
  font-size: 2.5vh;
}

.store-itme-tag{
  /* border: 1px solid orange; */
  position: relative;
  margin-top: 1.5vh;
}

.store-tag {
  background-color: #0065b3b4;
  color: #fff;
  letter-spacing: 1.5px;
  margin: 0.6vh;
  padding: 1vw;
  border-radius: 15%;
}