.navigation-container {
  display: flex;
  flex-direction: column;
  height: 84.1vh;
  color: #ffffff;
  padding-top: 6vh;
}

.navigation-body {
  width: 100vw;
  height: 79.5vh;
}

.navigation-route {
  margin-top: 5vh;
  width: 100vw;
  height: 55vh;
}

.navigation-map-img {
  width: 100vw;
  position: absolute;
  z-index: -1;
}

.navigation-button {
  display: flex;
  justify-content: space-around;
  color: black;
}

.to-ar-button {
  /* position: absolute; */
  /* right: 5vw;
  bottom: 28vh; */
  font-size: 18px;
  width: 27vw;
  height: 6vh;
  border: none;
  border-radius: 20px;
  background-color: #074CA1;
  color: #ffffff;
}

.to-next-floor {
  /* position: absolute; */
  /* right: 5vw;
  bottom: 28vh; */
  font-size: 18px;
  width: 27vw;
  height: 6vh;
  border: none;
  border-radius: 20px;
  background-color: #074CA1;
  color: #ffffff;
}

.navigation-text {
  display: flex;
  justify-content: center;
  color: black;
  /* margin-bottom: 1vh; */
}