.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #074CA1;
  overflow: hidden;
}


.landing-logo {
  position: absolute;
  top: 3vh;
  left: -10vw;
}

.landing-emblem {
  position: absolute;
  top: 8vh;
  right: -40vw;
}

.landing-title {
  position: absolute;
  bottom: 6vh;
  left: 10vw;
  font-size: 18px;
  color: #ffffff;
}