.landing-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/landing-bg.png");
}

.landing-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 30px;
  width: 85vw;
  height: 70vh;
}

.landing-title {
  color: #ffffff;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4px;
  text-align: end;
}

.landing-logo {
  color: #FFCF69;
  font-size: 50px;
  font-weight: 600;
}

.landing-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


@keyframes fadeInUp {
  0% {
      opacity: 0.6;
      transform: translateY(20%);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes fadeOut {
  0% {
      transform: translateY(0px);
  }
  to {
      transform: translateY(300px);
  }
}




.test_obj {
  animation: fadeInUp 1.4s;
}

.landing-second-img {
  position: absolute;
  animation: fadeInUp 0.4s;
  z-index: 0;
}

.landing-third-img {
  position: absolute;
  animation: fadeInUp 1.4s;
  z-index: 1;
}

.landing-button h1 {
  padding: 6px;
  font-weight: 400;
  letter-spacing: 2px;
}

.landing-button {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 6vh;
  margin-top: 30px;
  border: none;
  border-radius: 34px;
  background-color: #074CA1;
  color: #ffffff;
}

.ease_out {
  animation: fadeOut 1.4s;
}


