.preventTouch {
  touch-action: none;
}

.section-detail-map {
  z-index: -1;
}

.react-transform-wrapper {
  position: absolute;
  background-color: white;
  padding: 5%;
  width: 90%;
  height: 24vh;
  bottom: 0rem;
  border-radius: 3rem 3rem 0rem 0rem;
}

.section-detail-field-img {
  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

area {
  z-index: 100;
}