.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #074ca1;
  height: 8vh;
  border-bottom: 1px solid #074ca1;
}

.logo-title {
  margin-top: 2.8vh;
  color: white;
  font-size: 3vw;
  margin-left: 3vw;
}

.hide {
  display: none;
}

.dark {
  background-color: rgb(47, 47, 47);
  border-bottom: 1px solid rgb(47, 47, 47);
}

.nav-bar-logo {
  height: 5vh;
  margin-left: 4vw;
}