.nav-bar-container {
  display: flex;
  align-items: center;
  background-color: #0092F2;
  height: 8vh;
}

.logo-title {
  color: white;
  font-size: 10vw;
  font-weight: 600;
  margin-left: 3vw;
}

.hide {
  display: none;
}