.tab-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C0C0C0;
  width: 100vw;
  height: 10vh;
  z-index: 100;
}


.hide {
  display: none;
}

.tab-bar-icon {
  width: 11vw;
  height: 11vw;
  margin-bottom: 2vw;
}

.tab-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}